


.header {
    width: 100vw;
    background-color: #f9f9fa;
    text-align: center;
    padding: 20px;
}

.header-title {
    color: #0d0d0d;
    font-size: 35px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 768px) {
    .header-title {
        font-size: 24px;
    }
}
